/*
=============== 
Font
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Open+Sans+Condensed:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Zen+Antique&display=swap');
/*
=============== 
Root
===============
*/

:root{
  --clr-accent:#f5ae08;
  --clr-primary-01:#2285d1;
  --clr-primary-02:#52aef5;
  --clr-primary-03:#003054;
  --clr-light-gray:#b3b3b3;
  --clr-black:#222222;
  --clr-white:#fff;
  --my-font:"Noto Sans JP",sans-serif;
  --en-font:"Open Sans Condensed",sans-serif;
  --zen-font:'Zen Antique', serif;;
  --max-width:1088px;
}
/*
=============== 
Reset
===============
*/
*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a{
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

/*
=============== 
common parts
===============
*/
body{
  font-family: sans-serif;
  color: var(--clr-black);
  line-height: 1.8;
}
h1,
h2,
h3,
h4{
  font-family: var(--my-font);
  font-weight: bold;
}
h1{
  font-size: 26px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 22px;
}
p{
  font-size: 14px;
}
@media (min-width:768px) {
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 26px;
  }
  p{
    font-size: 16px;
  }
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}
.btn{
  display: inline-block;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

/* グリットレイアウト */
.partsGrid{
  display: grid;
  grid-template-columns: minmax(6vw,1fr) minmax(auto,1088px) minmax(6vw,1fr);
}
.headingGrid{
  display: grid;
  grid-template-columns: minmax(3vw,1fr) minmax(auto,1088px) minmax(3vw,1fr);
}
.partsGrid > *{
  grid-column: 2;
}
.grid12{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.grid12 > *{
  grid-column: 1/-1;
}
@media (min-width:768px){
  .grid12{
    grid-template-columns: repeat(12,1fr);
  }
}


/* header */
.heading{
    padding-top: 30px;
}
.heading.headingGrid > *{
  grid-column: 2;
}
.heading .logo{
  grid-column: span 1;
  align-self: center;
}
.heading .site-title{
  grid-column: span 1;
  align-self: center;
  font-family: var(--en-font);
  font-size: 30px;
  font-weight: 700;
  color: var(--clr-primary-03);
}
.nav-icon{
  grid-column: span 1 / -1;
}
.nav-menu{
  display: none;
}
@media (min-width:768px){
  .nav-icon{
    display: none;
  }
  .nav-menu{
    justify-self: flex-end;
    grid-column: span 6 /-1;
    align-self: center;
    display: block;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
  }
}

/* footer */
.footer{
  background-color: var(--clr-black);
  height: 263px;
  display: grid;
  place-items: center;
}
.footer p{
  font-size: 13px;
  color: var(--clr-white);
}
@media (min-width:768px){
  .footer{
    height: 100px;
  }
}

/*
=============== 
index parts
===============
*/

/* hero */
.hero{
  background-image: url("./images/map-hero.png");
  height: 60vh;
  background-repeat: no-repeat;
  background-position: 70% 70%;
  padding-top: 30px;
}
.hero h1{
  grid-row: 1;
  grid-column: span 3;
  align-self: flex-end;
  line-height: 1.5;
  min-width: 8em;
}
.hero .btn{
  grid-row: 2;
  align-self: start;
  grid-column: span 3;
  justify-self: flex-end;
  align-self: flex-start;
  background-color: var(--clr-accent);
  border-radius: 25px;
  padding: 11px 51px;
  width: 200px;
  color: var(--clr-white);
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
.hero .zen{
  font-family: var(--zen-font);
  color: var(--clr-primary-02);
  font-size: 40px;
  display: inline-block;
}
.hero .sora1{
  transform: rotate(-30deg);
}
.hero .sora2{
  transform: rotate(-40deg);
}
.hero figure{
  grid-row: 3;
  grid-column: span 3 /-1;
  align-self: flex-end;
  justify-self: flex-end;
  width: 159px; 
}
.msg{
  background-color: var(--clr-primary-01);
  z-index: -1;
  padding: 80px 0;
  display: grid;
  place-items: center;
  clip-path: polygon(0 20%, 100% 0, 100% 84%, 0% 100%);
  position: relative;
}
.msg .msg-box{
  width: 86vw;
  margin: auto;
  color: var(--clr-white);
}
.msg h2{
  text-align: center;
  margin-bottom: 15px;
}
.msg p{
  line-height: 2;
}
