/*
=============== 
1. ハンバーガーメニュー作成
2. google map埋め込み
3. SEO
===============
*/
/*
=============== 
Font
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=Open+Sans+Condensed:wght@700&family=Zen+Antique&display=swap");
/*
=============== 
Root
===============
*/

:root {
  --clr-accent: #f5ae08;
  --clr-primary-00: #ddeffc;
  --clr-primary-01: #2285d1;
  --clr-primary-02: #52aef5;
  --clr-primary-03: #003054;
  --clr-light-gray: #b3b3b3;
  --clr-black: #222222;
  --clr-white: #fff;
  --my-font: "Noto Sans JP", sans-serif;
  --en-font: "Open Sans Condensed", sans-serif;
  --zen-font: "Zen Antique", serif;
  --max-width: 1088px;
  --transition: all 0.3s linear;
}
/*
=============== 
Reset
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

/*
=============== 
common parts
===============
*/
body {
  font-family: var(--my-font);
  color: var(--clr-black);
  line-height: 1.8;
}
h1,
h2,
h3,
h4 {
  font-family: var(--my-font);
  font-weight: bold;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
p {
  font-size: 14px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  p {
    font-size: 16px;
  }
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}
.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.btn-comp{
  border-radius: 25px;
  padding: 11px 51px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}
.section-title {
  display: grid;
  grid-template-columns: 42px auto;
  place-items: center;
  place-content: center;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 50px;
}
.section-title img {
  margin-right: 12px;
}
.section-title h2 {
  font-family: var(--en-font);
  color: var(--clr-primary-03);
}
.underline {
  grid-column: 1/-1;
  width: 100px;
  height: 4px;
  background-color: var(--clr-primary-01);
}
/* グリットレイアウト */
.partsGrid {
  display: grid;
  grid-template-columns: minmax(6vw, 1fr) minmax(auto, 1088px) minmax(6vw, 1fr);
}
.headingGrid {
  display: grid;
  grid-template-columns: minmax(3vw, 1fr) minmax(auto, 1088px) minmax(3vw, 1fr);
}
.partsGrid > * {
  grid-column: 2;
}
.grid12 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
}
.grid12 > * {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .grid12 {
    grid-template-columns: repeat(12, 1fr);
  }
}

/* header */
.heading {
  position: relative;
  padding-top: 30px;
  z-index: 1;
}
.heading.headingGrid > * {
  grid-column: 2;
}
.heading .grid12{
  align-items: center;
}
.heading .logo {
  grid-column: span 1;
}
.heading .site-title {
  grid-column: span 1;
  font-family: var(--en-font);
  font-size: 30px;
  font-weight: 700;
  color: var(--clr-primary-03);
}
.nav-icon {
  font-size: 40px;
  grid-column: span 1 / -1;
}
.nav-menu {
  display: none;
}
@media (min-width: 768px) {
  .nav-icon {
    display: none;
  }
  .nav-menu {
    justify-self: flex-end;
    grid-column: span 7 /-1;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
  }
  .nav-menu li{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 3px;
    align-items: center;
    transition: var(--transition);
  }
  .nav-menu li:hover{
    color: var(--clr-primary-01);
  }
}

/* footer */
.footer {
  background-color: var(--clr-black);
  height: 263px;
  display: grid;
  place-items: center;
}
.footer p {
  font-size: 13px;
  color: var(--clr-white);
}
@media (min-width: 768px) {
  .footer {
    height: 100px;
  }
}

/*
=============== 
index parts
===============
*/

/* hero */
.hero {
  height: 60vh;
  position: relative;
}
.hero-img{
  height: 100%;
}
.hero.partsGrid > .hero-img{
  grid-column: 1/-1;
}
.hero .grid12{
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero h1 {
  grid-row: 1;
  grid-column: span 3;
  align-self: flex-end;
  line-height: 1.5;
  min-width: 8em;
}

.hero .zen {
  font-family: var(--zen-font);
  color: var(--clr-primary-02);
  font-size: 40px;
  display: inline-block;
}
.hero .sora1 {
  transform: rotate(-30deg);
}
.hero .sora2 {
  transform: rotate(-40deg);
}
.hero .btn {
  grid-row: 2;
  align-self: start;
  grid-column: span 3;
  justify-self: flex-end;
  align-self: flex-start;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  margin-top: 20px;
  transition: var(--transition);
  border: 1px solid var(--clr-accent);
}
.hero .btn:hover{
 background-color: var(--clr-white);
 color: var(--clr-accent);
}
.hero .droon-fig {
  grid-row: 3;
  grid-column: span 3 /-1;
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: -80px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .hero .droon-fig {
    grid-column: span 5 /-2;
  }
  .hero.partsGrid > .hero-img{
    grid-column: 2;
  }
}

/* msg */
.msg {
  background-color: var(--clr-primary-01);
  padding: 80px 0;
  clip-path: polygon(0 20%, 100% 0, 100% 84%, 0% 100%);
  position: relative;
  z-index: -1;
}
.msg.grid12 {
  width: 86vw;
  margin: auto;
}
.msg h2 {
  text-align: center;
  margin-bottom: 15px;
  color: var(--clr-white);
}
.msg p {
  line-height: 2;
  color: var(--clr-white);
  font-size: 16px;
}
@media (min-width: 768px) {
  .msg {
    padding: 120px 0;
  }
  .msg p {
    grid-column: 2/-2;
  }
}

/* services */
.services {
  padding: 90px 0;
}
.services .serveces-conteiner{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 20px;
}
.services .services-btn{
  font-size: 16px;
  font-family: var(--my-font);
  transition: var(--transition);
}
.active-btn {
  color: var(--clr-primary-02);
  box-shadow: 0 2px var(--clr-primary-02);
}
.services .services-btn:hover{
  color: var(--clr-primary-02);
  box-shadow: 0 2px var(--clr-primary-02);
}

.services .item-boxs.grid12 {
  row-gap: 50px;
  grid-auto-flow: column;
}
.services .item-box {
  display: grid;
  row-gap: 15px;
}
.services .item-box img {
  height: 340px;
}
.services .item-box h3 {
  text-align: center;
}
.services .item-box p {
  font-size: 14px;
  justify-self: center;
}
.services .item-box a{
  justify-self: center;
}
.services .item-box .btn {
  border: 1px solid var(--clr-primary-02);
  color: var(--clr-primary-02);
  background-color: var(--clr-white);
  transition: var(--transition);
}
.services .item-box .btn:hover{
  background-color: var(--clr-primary-01);
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}
@media (min-width: 768px) {
  .services .services-btn {
    font-size: 20px;
    font-family: var(--my-font);
  }
  .services .item-boxs.grid12 {
    grid-auto-flow: column;
  }
  .services .item-box {
    grid-column: span 4;
  }
}

/* company */
.company {
  background-color: var(--clr-primary-00);
  position: relative;
}
/* .company::before {
  position: absolute;
  top: -90px;
  left: -50px;
  content: url("./images/map-company.png");
  display: block;
  transform: rotate(75deg);
  overflow: hidden;
} */
.company-fig{
  position: absolute;
  top: -90px;
  left: -50px;
}
.company .section-title {
  padding-top: 53px;
  z-index: 2;
}
.company .grid12 {
  padding: 30px 0 100px 0;
  row-gap: 50px;
}
.company .text {
  display: grid;
  font-size: 14px;
  z-index: 2;
}
.company .text.grid12 {
  row-gap: 0;
  padding: 0;
}
.company .text dt {
  margin-bottom: 5px;
}
.company .text dd {
  font-weight: 300;
}
.company .text dd:not(:last-child) {
  margin-bottom: 20px;
}
.company .sns {
  display: grid;
  grid-template-columns: repeat(3, 35px);
  justify-items: center;
  justify-content: center;
  grid-column-gap: 30px;
  color: var(--clr-primary-01);
  cursor: pointer;
  transition: var(--transition);
  font-size: 30px;
}

.company .sns a:hover{
  opacity: .6;
}
.company .sns .sns-icon{
  font-size: 20px;
  color: var(--clr-primary-02);
}
.company .map {
  height: 300px;
  place-self: stretch;
  border: 0;
  margin: 0 -6vw;
}

@media (min-width: 768px) {
  .company::before {
    left: -30px;
    transform: rotate(60deg);
  }
  .company .text {
    grid-row: 1/3;
    grid-column: span 6;
    align-self: center;
  }
  .company .sns {
    grid-row: 3;
    grid-column: span 6;
    margin-top: -90px;
  }
  .company .map {
    grid-row: 1/3;
    grid-column: span 5 /-1;
    height: 500px;
  }
  .company .text dd:not(:last-child) {
    margin-bottom: 0;
  }
  .company .text dt {
    grid-column: span 3;
    margin-bottom: 0;
  }
  .company .text dd {
    grid-column: span 9 / -1;
  }
}

/* contact */
.contact {
  padding: 30px 0 56px 0;
  position: relative;
  /* background-image: url(./images/map-contact.png); */
  /* background-repeat: no-repeat;
  background-position: 80% -353%; */
  overflow: hidden;
}
.contact-fig{
  position: absolute;
  top: 200px;
  left: -250px;
  z-index: -1;
} 
.contact .double-border {
  border: thick double var(--clr-primary-02);
  margin: 0 -15px;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.336);
}
.contact .section-title {
  padding-top: 53px;
}
.contact .grid12 {
  padding-bottom: 110px;
}
.contact .text{
  margin-bottom: 67px;
  grid-column: span 3;
}
.sr-only{
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.contact form {
  display: grid;
  row-gap: 30px;
}
.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea{
  border: 1px solid var(--clr-light-gray);
  box-sizing: border-box;
  color: var(--clr-light-gray);
  font-family: Noto Sans JP,sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 17px;
  padding: 13px 20px;
  width: 100%;
}
.contact form textarea{
  height: 152px;
}
.contact form p:last-child{
  text-align: center;
}
.contact form input[type="submit"]{
  background-color: var(--clr-primary-01);
  border: 1px solid var(--clr-primary-01);
  color:var(--clr-white);
  width: 70%;
  transition: var(--transition);
}
.contact form input[type="submit"]:hover{
  background-color: var(--clr-primary-00);
  border: 1px solid var(--clr-primary-01);
  color: var(--clr-primary-01);
}


@media (min-width: 768px){
  .contact{
    background-position: 30% -140%;
  }
  .contact .section-title{
    grid-row: 1;
  }
  .contact form {
    grid-row: 2;
    grid-column: 7/-2;
  }
  .contact .text{
    grid-row: 2;
    grid-column: 2/5;
    margin-bottom: 0;
  }
}

/* error page */
.error{
  padding: 100px 10px 50px;
  text-align: center;
}

/* Sidebar */
.sidebar-wrapper{
  position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background:#000000cc;
z-index: 555;
display: grid;
place-content: center;
transform: scale(0);
transform-origin: top right;
transition: var(--transition);
}
.sidebar-wrapper.show-sidebar{
  transform: scale(100%);
}
.sidebar{
  position: relative;
  width: 90vw;
  height: 90vh;
  display: grid;
  place-items: center;
  place-content: center;
  color: var(--clr-white);
  row-gap: 50px;
}
.sidebar .btn-close{
  position: absolute;
top: 10px;
right: 0px;
font-size: 40px;
color: var(--clr-white);
}
.sidebar .sidebar-menu{
  display: grid;
  row-gap: 10px;
  justify-items: center;
}
.sidebar .sidebar-menu li{
  font-size: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  align-items: center;
}
.sidebar .sns{
  font-size: 20px;
  color: var(--clr-primary-02);
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.open html,
.open body{
  overflow: hidden;
  height: 100%;
}